@page "/classification"

@using Models

@inject HttpClient client

<h3>Classification</h3>

@code {
    private List<PlayersClassification> classifications = new();
    protected override async Task OnInitializedAsync()
    {
        classifications = await client.GetFromJsonAsync<List<PlayersClassification>>("/classifications-module/classifications");
    }
}
